<!-- Popular Dishes Start -->
<section class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Best Seller</h5>
            <h1 class="mb-5">Our Most Popular Dishes</h1>
        </div>

        <div class="owl-carousel popular-deal-carousel">
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/pizza.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pizza Margherita</h5>
                        <p class="card-text clamp-line-3">mit Jalapenos und scharfer Käsesauce, ohne Burgersauce</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/pasta.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pizza Margherita</h5>
                        <p class="card-text clamp-line-3">mit Jalapenos und scharfer Käsesauce, ohne Burgersauce</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/chicken.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pizza Margherita</h5>
                        <p class="card-text clamp-line-3">mit Jalapenos und scharfer Käsesauce, ohne Burgersauce</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/burger.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pizza Margherita</h5>
                        <p class="card-text clamp-line-3">mit Jalapenos und scharfer Käsesauce, ohne Burgersauce</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/pizza.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pizza Margherita</h5>
                        <p class="card-text clamp-line-3">mit Jalapenos und scharfer Käsesauce, ohne Burgersauce</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/burger.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pizza Margherita</h5>
                        <p class="card-text clamp-line-3">mit Jalapenos und scharfer Käsesauce, ohne Burgersauce</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/chicken.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pizza Margherita</h5>
                        <p class="card-text clamp-line-3">mit Jalapenos und scharfer Käsesauce, ohne Burgersauce</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Dishes Start -->